@import "tailwindcss";

:root {
  /* Colors */
  --blue: #004D61;
  --orange: #FF5031;
  --light-green: #E4EDE3;
  --light-gray: #F9F9F9;
  --gray: #8B8B8B;
  --red: #BF1313;
  --green: #47A138;
  --dark: #212121;
  --dark-gray: #444444;
  --white: #FFFFFF;

  /* Linear Background */
  --linear-background: linear-gradient(180deg, var(--light-green) 50%, var(--white) 100%);
}

@theme inline {
  /* Colors */
  --color-blue: var(--blue);
  --color-orange: var(--orange);
  --color-light-green: var(--light-green);
  --color-light-gray: var(--light-gray);
  --color-gray: var(--gray);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-dark: var(--dark);
  --color-dark-gray: var(--dark-gray);
  --color-white: var(--white);
}

body {
  background: var(--linear-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  @apply h-full;
}

header {
  @apply px-7 flex justify-between items-center;
  @apply text-sm text-white;
  @apply bg-dark;
  @apply min-h-18;
}

nav {
  @apply flex bg-white w-[200px] p-4 text-dark-gray;
}

main {
  @apply flex-1 p-7 w-full;
}

footer {
  @apply p-7 flex justify-between items-center;
  @apply text-sm text-white;
  @apply bg-dark;
}

@layer components {

  .card {
    @apply bg-light-gray rounded-sm p-7 shadow-sm;
    @apply text-dark;    
  }

  .content {
    @apply flex-1 flex flex-row;
  }
}
